<!DOCTYPE html>
<html>
<head>
	<title>Your Request</title>
	<style type="text/css">
		body{
			background-color: #464646;
			font-family: verdana;
			color: #fff;
			padding: 30px;
		}
		h1{
			font-size: 48px;
			text-transform: uppercase;
			letter-spacing: 2px;
			text-align: center;
		}
		p{
			font-size: 16px;
			text-align: center;
		}
		form{
			text-align: center;
		}
	</style>
</head>
<body>

  <h1>Hello!</h1>
  <p>
  	Your request has been recieved and is being handled<br/>

    <p>
        Our operators would get back to you as soon as possible....
    </p>

	<form action="/contact" method="POST">
	click the button to continue shopping
		<input type="Submit" value="Here" name="return_to_home">
  	</form>

  </p>
	
</body>
</html>